:root {
    --branco-principal :#ffffff;
    --cinza-secundario : #C0C0C0;
    --botao-azul :#167BF7;
    --cor-de-fundo :#00030C;
    --fonte-principal :'Inter';
}
*{
    margin: 0;
    padding: 0;
}
body {
    background: #00030C;
    color: #ffffff;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
h1 {
    font-size: 28px;
}
.container_imagem {
    margin: 1em 0 2em 0; /*top/direito/abaixo/esquerda*/
}
.principal{
    background-image: url('../img/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;/*em vez de usar margim top,usamos essa propriedade para centralizar,porque o container esta display grid*/
    text-align: center;
}
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container_caixa {
    margin:0 6em;
}
.container_botao {
    display: block;
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    margin-bottom: 1em;
}
.container_botao:hover {
    color:#167BF7;
    background-color: var(--branco-principal);
    transition: 1s;
    transform: scale(1.2);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    text-decoration: none;
}
.container_aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
  
    
}
.secundario__imagem {
    width: 80%;
}
.secundario {
    align-items: center;
    margin: -4em 10em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 46px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario_botao {
    display: inline-block; /*em linha*/
    margin-top: 1em;
}
.container__descricao {
    padding: 2em;
}
.dispositivo__lista{
    display:flex  ; /*Poderia usar tambem dispay grid ,grid-template-columns: 33% 33% 33%;*/
    justify-content: center;
    list-style-type: none;  /* estilo da litsa ,para sair as bolinhas de marcação do lado da imagem*/
    margin: 5em;

}
.dispositivos {
    text-align: center;
}
.dispositivo__titulo {
    font-size: 48px;
    color: var(--branco-principal);
    

}
.lista__item {
    font-size: 32px;
    color: var(--branco-principal);

}

.rodape {
    text-align: center;
    margin: 5em 3em;
}
.rodape__lista {
    display: flex;
    justify-content:center;
    list-style-type: none;
    margin-top: 1em;
    }

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
    
}
.lista__link a:hover {
    color:blue;
    text-decoration: underline;
     
}

.texto__rodape {
    font-size: 14px;
    color: var(--cinza-secundario);
    margin:1em 0
}

@media screen and (max-width: 750px) {

    .principal, .container, .dispositivos, .dispositivo__lista, .rodape, .rodape__lista{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10% 0;
        height: 100%;
        
    }

    .rodape__logo{
        max-width: 40%;
        margin: 2em auto;
    }

    
    .dispositivo__titulo, .descricao__titulo{
        font-size: 38px;   
    
    }
    
   
}
